/* General Styles */
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

table {
    border-collapse: collapse;
}

td {
    padding: 5px 5px;
}

thead {
    text-decoration: underline;
    font-weight: bold;
}

thead .numbers {
    text-align: center;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}

.refreshButton {
    align-self: center;
    padding: 2px   
}

.card {
    margin: 10px;
    padding: 0px;
    border: 1px;
    border-color: black;
    border-style: solid;
}

.card-header {
    margin-bottom: 0 0 5px 0;
    color: white;
    text-align: center;
    font-weight: bold;
    padding: 5px 0 5px 0
}

.spacer {
    margin: 10px
}

.total {
    background-color: lightgrey;
    font-weight: bold;
}

/* Header */
.tabs {
    position: relative;
    overflow: hidden;
    margin: 0;
    padding: 0;
    width: 100%;
    font-weight: 300;
    font-size: 1em;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    background: #e7ecea;
    color: #74777b;
    display: block;
    text-align: center;
}

.tabs ul {
    list-style: none;
    position: relative;
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    box-sizing: border-box;
    width: 100%
}

.tabs li {
    margin: 0;
    padding: 5px;
    text-align: center;
    flex: 1;
    border: 1px solid lightgrey;
}

.tabs span {
    text-align: center;
    vertical-align: middle;    
}

.tabs a {
    text-decoration: none;
    outline: none;
    color: grey
}
.tabs .tab-current {
    list-style-position: inside;
    border-top-width: 5px;
    border-bottom: none;
    background-color: white;
}

.tabs .tab-current a {
    color: black
}

.tabs img {
    width: 1.5em;
    height: 1.5em;
}

.tabs .blue {
    border-top-color: darkblue;
}

.tabs .green {
    border-top-color: darkgreen;
}

.tabs .purple {
    border-top-color: purple;
}

/* Login */

.login {
    margin: 15px; 
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border: 1px dotted grey
}

.login span {
    margin: 2px 5px 2px 20px; 
    border: 0
}

/* Budget Assets */
.budget {
    min-width: 280px
}

.budget-header {
    background-color: darkblue;
    margin:0
}

.budget table {
    width: 100%;
    border-collapse: collapse;
}

.total-savings {
    background-color: lightgreen;
    font-weight: bold;
}

.numbers {
    text-align: right;
}

.table-label {
    padding-right:20px
}

/* Stock Assets */
.stock {
    min-width: 375px;
}

.stock table {
    width: 100%;
}

.stock-header {
    background-color: darkgreen;
    margin:0
}

.allocation-a {
    width: 180px
}

.allocation-p {
    width: 60px;
    text-align: center;
}

/* Charts */
.chartTitle {
    padding-bottom: 5px;
}

.chartTitle p {
    margin: 1px;
    font-weight: bold;
    font-size: 90%;
}

.chartTitle span {
    margin: 1px;
}

.chart {
    width: 350px;
    min-height: 250px;
    padding: 5px 2px 5px 10px;
}

.select span {
    margin: 6px 0 10px 0;
    display: block 
}

.select {
    flex-basis: 100%;
    padding: 5px
}

